*{
    border: 0%; margin: 0%; box-sizing: border-box;
}
header{
    background-color: aqua;
}
body{
    background-color: orange;
}
.tr1{
    background-color:rgb(57, 89, 247);
}
table{
    border: 1%; border-radius: 2; background-color: aqua;
}
h1{
    text-align: center;font-size:200%;
}